/* ----FOOTER---- */

/* ----MIXIN----- */
@mixin imagen ($color-redes) {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: $color-redes;
}
.redes{
    .img-2{
        @include imagen (#eeeeee)
    }
}
.redes{
    .img-3{
        @include imagen (rgb(245, 8, 205))
    }
}
.redes{
    .img-4{
        @include imagen (rgb(255, 255, 255))
    }
}
.footer {
    background-color: #434444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    height: 70px;
}

.footer p {
    color: white;
    font-size: small;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer .p1 {
    font-size: large;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
    color: darkolivegreen;
}

input:focus {
    background-color: darkgrey;
    border-radius: 7px;
}