/* ----MAIN---- */
.main-inicio{
    min-height: 71vh;
}
.main-inicio .h2-1 {
    background-color: #ffffff;
    padding: 100px;
    background-image: url("../recursos/imagenmedicina4.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}

.main-inicio .vih {
    font-size: 30px;
    text-decoration: none;
}

.main-inicio .bronquiolitis {
    font-size: 30px;
    text-decoration: none;
}

.main-inicio .video {
    width: 450px !important;
}

.main-inicio .h2-2 {
    background-color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    .main-inicio .row {
        display: flex;
        flex-direction: column;
    }
}
